# 1 Домашнее задание от Karpov Courses

## 1 Задание 
#### Начнём с простого: сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name – какое-нибудь имя в виде строки.

In [14]:
age = 22
name = "Mikhail"
print(age, name)

22 Mikhail

## 2  Задание 
#### Создайте список user_info, содержащий 4 элемента в следующем порядке: 

##### 2 строки (имя и фамилия пользователя), 

##### 1 дробное число (зарплата), 

##### 1 целое число (стаж)

In [24]:
user_info = ["Mikhail", "Prikhodko", 80.500, 2]

In [25]:
user_info

['Mikhail', 'Prikhodko', 80.5, 2]

## 3 Задание 
#### Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries.

In [63]:
salaries = [42, 100, 70, 80]

In [64]:
first = salaries[0]
print(first)

42

## 4 Задание 
#### Добавьте в список users элементы 'Voronov' и 42.

In [43]:
users = []
users.append("Voronov")
users.append(42)
users

['Voronov', 42]

## 5 Задание 
#### В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

In [61]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [62]:
for age in user_ages: 
    if age > 18:
     print(age)

21
35
42
27

## 6 Задание 
#### Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку:
##### user_name user_family is position , где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

##### 'junior' — стаж меньше 2 лет

##### 'middle' — стаж больше либо равен 2 лет и меньше или равен 5

##### 'senior' — стаж больше 5 лет 

###### 
Hint: печатать результат не нужно, просто запишите его в переменную status.

In [29]:
user_info

['Mikhail', 'Prikhodko', 80.5, 2]

In [30]:
worker = user_info

In [31]:
user_name = worker[0]
user_family = worker[1]
salary = worker[2]
experience = worker[3]

In [32]:
if experience < 2:
    position = "junior"
elif 2<= experience <= 5:
    position = "middle"
else:
    position = "senior"
    
status = f"{worker[0]} {worker[1]} is {position}"

In [33]:
status

'Mikhail Prikhodko is middle'

## 7 Задание
#### В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

In [13]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [35]:
tens = []
for value in values:
    if value % 10 == 0:
        tens.append(value)

print(tens)

[10, 100, 20, 50, 160, 210]

## 8 Задание
#### Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):
##### user_name user_family is position, 
##### где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

##### 'junior' — стаж меньше 2 лет

##### 'middle' — стаж больше либо равен 2 и меньше или равен 5

##### 'senior' — стаж строго больше 5 лет 

 Note: в этом задании эти строки нужно печатать (используйте функцию print).

In [41]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [42]:
for worker in workers:
    user_name = worker[0]
    user_family = worker[1]
    experience = worker[3]

    if experience < 2:
        position = "junior"
    elif 2 <= experience <= 5:
        position = "middle"
    else:
        position = "senior"

    status = (f"{user_name} {user_family} is {position}")
    print(status)

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

## 9 Задание

#### Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

Note: необходимо создать переменную lst, а переменные n, N, dn создавать не нужно. Итоговый список печатать тоже не нужно.

In [55]:
lst = []
n = 0
while n <= 10:
    lst.append(n)
    n = n + 2
print(lst) # для проверки

[0, 2, 4, 6, 8, 10]

## 10 Задание 

#### На предыдущих шагах вы сталкивались с различными характеристиками пользователей, которые были сохранены в списках. Теперь попробуем собрать нужную информацию в словарь!
#### Начнем с небольшого, где: ключом будет название характеристики, значением – её значение

В словарь поместите следующую информацию: 

 характеристика	значение

 name	Masha

 surname	Volkova

 age	25

 salary	60000

 position	junior

 Результат сохраните в переменную salaries_dict.

In [57]:
salaries_dict = {
    "name": "Masha",
    "surname": "Volkova",
    "age": 25,
    "salary": 60000,
    "position": "junior"
}
print(salaries_dict)

{'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}

### Теперь усложним задачу. 
##### Создайте словарь, где: Ключом будет логин пользователя (login) , в качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя

In [62]:
#В качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя

#login       name   surname age salary  position
#mvolkova	Masha	Volkova	25	60000	junior
#pvoronov	Peter	Voronov	27	100000	junior
#pparker	Peter	Parker	35	150000	middle
#akarpov    Anatoly	Karpov	30	250000	senior

##### Результат запишите в переменную users_dict.

In [64]:
users = [
    ["mvolkova", "Masha", "Volkova", 25, 60000, "junior"],
    ["pvoronov", "Peter", "Voronov", 27, 100000, "junior"],
    ["pparker", "Peter", "Parker", 35, 150000, "middle"],
    ["akarpov", "Anatoly", "Karpov", 30, 250000, "senior"]
]

users_dict = {}

for login, name, surname, age, salary, position in users:
    users_dict[login] = {
        "name": name,
        "surname": surname,
        "age": age,
        "salary": salary,
        "position": position
    }
print(users_dict)

{'mvolkova': {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}, 'pvoronov': {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'}, 'pparker': {'name': 'Peter', 'surname': 'Parker', 'age': 35, 'salary': 150000, 'position': 'middle'}, 'akarpov': {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30, 'salary': 250000, 'position': 'senior'}}

In [65]:
users_dict['mvolkova']

{'name': 'Masha',
 'surname': 'Volkova',
 'age': 25,
 'salary': 60000,
 'position': 'junior'}

In [66]:
users_dict['pvoronov']

{'name': 'Peter',
 'surname': 'Voronov',
 'age': 27,
 'salary': 100000,
 'position': 'junior'}